/* Basic styling */

header, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 3px;
  text-align: center;
}

#product-list {
  padding: 3px;
}

.productr1, .productr2, .productr3 {
  border: 3px solid #ccc;
  padding: 3px;
  width: 30%;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 20px;
}


/* Pseudo-classes for link behavior and order with errors */


a:link {
  color: red;
}

a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}




/*
.product a {
  color: blue;
  text-decoration: none;
}

.product a :hover {
  color: red;
}

.product a :visited {
  color: purple;
}
  */


footer {
  background-color: #333;
  color: white;
  padding: 1px;
  text-align: center;
}

/* Clear floats to avoid parent collapse */
#product-list::after {
  content: "";
  display: table;
  clear: both;
}
/* Please use google to find out what this block of code is and why it is being used in this code */
